In [2]:
#Import pandas library
import pandas as pd
import numpy as np

#Read the data file for the MapReduce job

df = pd.read_csv('AComp_Passenger_data_no_error.csv')
df

     UES9151GS5  SQU6245R  DEN  FRA  1420564460  1049
0    UES9151GS5  XXQ4064B  JFK  FRA  1420563917   802
1    EZC9678QI6  SOH3431A  ORD  MIA  1420563649   250
2    ONL0812DH1  SOH3431A  ORD  MIA  1420563649   250
3    CYJ0225CH1  PME8178S  DEN  PEK  1420564409  1322
4    POP2875LH3  MBA8071P  KUL  PEK  1420563856   572
..          ...       ...  ...  ...         ...   ...
494  BWI0520BG6  BER7172M  KUL  LAS  1420565167  1848
495  LLZ3798PE3  EWH6301Y  CAN  DFW  1420564967  1683
496  KKP5277HZ7  KJR6646J  IAH  BKK  1420565203  1928
497  JJM4724RF7  XXQ4064B  JFK  FRA  1420563917   802
498  SJD8775RZ4  WSK1289Z  CLT  DEN  1420563542   278

[499 rows x 6 columns]

In [3]:
df.shape

(499, 6)

In [4]:
# Define column names
column_names = ['Passenger id', 'Flight id', 'From airport IATA/FAA code', 'Destination airport IATA/FAA code', 
                'Departure time (GMT)', 'Total flight time (mins)']

# Read the CSV file without a header and assign column names
df = pd.read_csv('AComp_Passenger_data_no_error.csv', header=None, names=column_names)

In [5]:
df

,Passenger id,Flight id,From airport IATA/FAA code,Destination airport IATA/FAA code,Departure time (GMT),Total flight time (mins)
0,UES9151GS5,SQU6245R,DEN,FRA,1420564460,1049
1,UES9151GS5,XXQ4064B,JFK,FRA,1420563917,802
2,EZC9678QI6,SOH3431A,ORD,MIA,1420563649,250
3,ONL0812DH1,SOH3431A,ORD,MIA,1420563649,250
4,CYJ0225CH1,PME8178S,DEN,PEK,1420564409,1322
...,...,...,...,...,...,...
495,BWI0520BG6,BER7172M,KUL,LAS,1420565167,1848
496,LLZ3798PE3,EWH6301Y,CAN,DFW,1420564967,1683
497,KKP5277HZ7,KJR6646J,IAH,BKK,1420565203,1928
498,JJM4724RF7,XXQ4064B,JFK,FRA,1420563917,802
499,SJD8775RZ4,WSK1289Z,CLT,DEN,1420563542,278

In [6]:
#Checking for duplicates in the dataset

duplicates = df[df.duplicated()]

# Count for duplicates in the dataset
num_duplicates = duplicates.shape[0]

print(f"Number of duplicates: {num_duplicates}")

Number of duplicates: 111

In [7]:
# Removing duplicates
df_nd = df.drop_duplicates()

In [8]:
df_nd.shape

(389, 6)

In [9]:
from concurrent.futures import ThreadPoolExecutor

# Mapper function
def mapper(rows):
    return [map_row(row) for row in rows]

def map_row(row):
    passenger_id = row['Passenger id']
    return (passenger_id, 1)

# Shuffle function
def shuffle(mapper_output):
    shuffled_data = {}
    for chunk in mapper_output:
        for k, v in chunk:
            if k not in shuffled_data:
                shuffled_data[k] = [v]
            else:
                shuffled_data[k].append(v)
    return shuffled_data

# Reducer function
def reducer(kv_pair):
    k, v = kv_pair
    return (k, sum(v))

def split_data(data, num_splits):
    return [data[i::num_splits] for i in range(num_splits)]

# Parallelize the mapper step using ThreadPoolExecutor
num_threads = 4
chunks = split_data(df_nd.to_dict(orient='records'), num_threads)
with ThreadPoolExecutor(max_workers=num_threads) as executor:
    mapper_output = list(executor.map(mapper, chunks))

shuffled_data = shuffle(mapper_output)

# Parallelize the reducer step using ThreadPoolExecutor
with ThreadPoolExecutor() as executor:
    reduced_data = dict(executor.map(reducer, shuffled_data.items()))

In [10]:
print(f"Mapper output: {mapper_output}")

print(f"Shuffle output: {shuffled_data}")

print(f"Reducer output: {reduced_data}")

Mapper output: [[('UES9151GS5', 1), ('CYJ0225CH1', 1), ('UES9151GS5', 1), ('PAJ3974RK1', 1), ('MXU9187YC7', 1), ('BWI0520BG6', 1), ('YMH6360YP0', 1), ('MXU9187YC7', 1), ('EZC9678QI6', 1), ('CXN7304ER2', 1), ('IEG9308EA5', 1), ('HCA3158QA6', 1), ('KKP5277HZ7', 1), ('DAZ3029XA0', 1), ('VZY2993ME1', 1), ('UES9151GS5', 1), ('SPR4484HA6', 1), ('PUD8209OG3', 1), ('POP2875LH3', 1), ('HGO4350KK1', 1), ('LLZ3798PE3', 1), ('WBE6935NU3', 1), ('POP2875LH3', 1), ('CDC0302NN5', 1), ('BWI0520BG6', 1), ('KKP5277HZ7', 1), ('EDV2089LK5', 1), ('HCA3158QA6', 1), ('SPR4484HA6', 1), ('HGO4350KK1', 1), ('UES9151GS5', 1), ('ONL0812DH1', 1), ('SPR4484HA6', 1), ('WTC9125IE5', 1), ('DAZ3029XA0', 1), ('BWI0520BG6', 1), ('CDC0302NN5', 1), ('JJM4724RF7', 1), ('WYU2010YH8', 1), ('VZY2993ME1', 1), ('HGO4350KK1', 1), ('YMH6360YP0', 1), ('BWI0520BG6', 1), ('HGO4350KK1', 1), ('POP2875LH3', 1), ('JBE2302VO4', 1), ('UES9151GS5', 1), ('CKZ3132BR4', 1), ('CYJ0225CH1', 1), ('POP2875LH3', 1), ('MXU9187YC7', 1), ('CXN7304ER2', 1), ('YMH6360YP0', 1), ('DAZ3029XA0', 1), ('PUD8209OG3', 1), ('ONL0812DH1', 1), ('EDV2089LK5', 1), ('SPR4484HA6', 1), ('BWI0520BG6', 1), ('EZC9678QI6', 1), ('SPR4484HA6', 1), ('HGO4350KK1', 1), ('YMH6360YP0', 1), ('SPR4484HA6', 1), ('JBE2302VO4', 1), ('CXN7304ER2', 1), ('LLZ3798PE3', 1), ('PIT2755XC1', 1), ('DAZ3029XA0', 1), ('IEG9308EA5', 1), ('WBE6935NU3', 1), ('HCA3158QA6', 1), ('JJM4724RF7', 1), ('LLZ3798PE3', 1), ('XFG5747ZT9', 1), ('CKZ3132BR4', 1), ('UES9151GS5', 1), ('VZY2993ME1', 1), ('CDC0302NN5', 1), ('MXU9187YC7', 1), ('EDV2089LK5', 1), ('EZC9678QI6', 1), ('WBE6935NU3', 1), ('DAZ3029XA0', 1), ('DAZ3029XA0', 1), ('EDV2089LK5', 1), ('SPR4484HA6', 1), ('DAZ3029XA0', 1), ('PAJ3974RK1', 1), ('HGO4350KK1', 1), ('WTC9125IE5', 1), ('KKP5277HZ7', 1), ('PUD8209OG3', 1), ('WBE6935NU3', 1), ('VZY2993ME1', 1), ('SPR4484HA6', 1), ('CDC0302NN5', 1), ('SJD8775RZ4', 1)], [('UES9151GS5', 1), ('POP2875LH3', 1), ('HCA3158QA6', 1), ('UES9151GS5', 1), ('HGO4350KK1', 1), ('EDV2089LK5', 1), ('DAZ3029XA0', 1), ('EZC9678QI6', 1), ('CKZ3132BR4', 1), ('WBE6935NU3', 1), ('WYU2010YH8', 1), ('CDC0302NN5', 1), ('SJD8775RZ4', 1), ('PUD8209OG3', 1), ('HCA3158QA6', 1), ('JJM4724RF7', 1), ('WYU2010YH8', 1), ('PIT2755XC1', 1), ('SPR4484HA6', 1), ('SJD8775RZ4', 1), ('JJM4724RF7', 1), ('WBE6935NU3', 1), ('VZY2993ME1', 1), ('SPR4484HA6', 1), ('HCA3158QA6', 1), ('PUD8209OG3', 1), ('HGO4350KK1', 1), ('PIT2755XC1', 1), ('SPR4484HA6', 1), ('JJM4724RF7', 1), ('XFG5747ZT9', 1), ('CYJ0225CH1', 1), ('JJM4724RF7', 1), ('PUD8209OG3', 1), ('JBE2302VO4', 1), ('CXN7304ER2', 1), ('PIT2755XC1', 1), ('UES9151GS5', 1), ('JJM4724RF7', 1), ('BWI0520BG6', 1), ('LLZ3798PE3', 1), ('CYJ0225CH1', 1), ('WYU2010YH8', 1), ('WTC9125IE5', 1), ('HCA3158QA6', 1), ('MXU9187YC7', 1), ('MXU9187YC7', 1), ('BWI0520BG6', 1), ('PUD8209OG3', 1), ('PUD8209OG3', 1), ('IEG9308EA5', 1), ('HCA3158QA6', 1), ('CYJ0225CH1', 1), ('POP2875LH3', 1), ('XFG5747ZT9', 1), ('JBE2302VO4', 1), ('DAZ3029XA0', 1), ('SJD8775RZ4', 1), ('CKZ3132BR4', 1), ('WTC9125IE5', 1), ('VZY2993ME1', 1), ('EZC9678QI6', 1), ('HGO4350KK1', 1), ('CKZ3132BR4', 1), ('VZY2993ME1', 1), ('IEG9308EA5', 1), ('WYU2010YH8', 1), ('DAZ3029XA0', 1), ('WBE6935NU3', 1), ('XFG5747ZT9', 1), ('SJD8775RZ4', 1), ('WBE6935NU3', 1), ('ONL0812DH1', 1), ('XFG5747ZT9', 1), ('EZC9678QI6', 1), ('EDV2089LK5', 1), ('JJM4724RF7', 1), ('JJM4724RF7', 1), ('VZY2993ME1', 1), ('BWI0520BG6', 1), ('DAZ3029XA0', 1), ('CXN7304ER2', 1), ('IEG9308EA5', 1), ('HGO4350KK1', 1), ('EZC9678QI6', 1), ('PAJ3974RK1', 1), ('CDC0302NN5', 1), ('LLZ3798PE3', 1), ('WYU2010YH8', 1), ('ONL0812DH1', 1), ('CKZ3132BR4', 1), ('HGO4350KK1', 1), ('YMH6360YP0', 1), ('PUD8209OG3', 1), ('ONL0812DH1', 1), ('DAZ3029XA0', 1), ('CXN7304ER2', 1)], [('EZC9678QI6', 1), ('WTC9125IE5', 1), ('YMH6360YP0', 1), ('WYU2010YH8', 1), ('PUD8209OG3', 1), ('JBE2302VO4', 1), ('PIT2755XC1', 1), ('CYJ0225CH1', 1), ('JBE2302VO4', 1), ('HCA3158QA6', 1), ('SJD8775RZ4', 1), ('BWI0520BG6', 1), ('SPR4484HA6', 1), ('EZC9678QI6', 1), ('CYJ0225CH1', 1), ('HCA3158QA6', 1), ('JJM4724RF7', 1), ('HGO4350KK1', 1), ('DAZ3029XA0', 1), ('DAZ3029XA0', 1), ('UES9151GS5', 1), ('LLZ3798PE3', 1), ('UES9151GS5', 1), ('WTC9125IE5', 1), ('UES9151GS5', 1), ('ONL0812DH1', 1), ('KKP5277HZ7', 1), ('SJD8775RZ4', 1), ('ONL0812DH1', 1), ('XFG5747ZT9', 1), ('IEG9308EA5', 1), ('PUD8209OG3', 1), ('HCA3158QA6', 1), ('XFG5747ZT9', 1), ('MXU9187YC7', 1), ('JBE2302VO4', 1), ('BWI0520BG6', 1), ('KKP5277HZ7', 1), ('CKZ3132BR4', 1), ('WYU2010YH8', 1), ('UES9151GS5', 1), ('IEG9308EA5', 1), ('UMH6360YP0', 1), ('DAZ3029XA0', 1), ('CXN7304ER2', 1), ('EDV2089LK5', 1), ('EZC9678QI6', 1), ('LLZ3798PE3', 1), ('LLZ3798PE3', 1), ('POP2875LH3', 1), ('HGO4350KK1', 1), ('CKZ3132BR4', 1), ('JBE2302VO4', 1), ('CKZ3132BR4', 1), ('JBE2302VO4', 1), ('CXN7304ER2', 1), ('WTC9125IE5', 1), ('HCA3158QA6', 1), ('SPR4484HA6', 1), ('WYU2010YH8', 1), ('PUD8209OG3', 1), ('PUD8209OG3', 1), ('HGO4350KK1', 1), ('CXN7304ER2', 1), ('IEG9308EA5', 1), ('MXU9187YC7', 1), ('PAJ3974RK1', 1), ('ONL0812DH1', 1), ('CDC0302NN5', 1), ('WYU2010YH8', 1), ('EZC9678QI6', 1), ('POP2875LH3', 1), ('XFG5747ZT9', 1), ('IEG9308EA5', 1), ('EZC9678QI6', 1), ('YMH6360YP0', 1), ('XFG5747ZT9', 1), ('SJD8775RZ4', 1), ('PUD8209OG3', 1), ('CXN7304ER2', 1), ('CYJ0225CH1', 1), ('SJD8775RZ4', 1), ('JBE2302VO4', 1), ('EZC9678QI6', 1), ('SPR4484HA6', 1), ('HGO4350KK1', 1), ('WTC9125IE5', 1), ('YMH6360YP0', 1), ('SJD8775RZ4', 1), ('MXU9187YC7', 1), ('PAJ3974RK1', 1), ('CXN7304ER2', 1), ('YMH6360YP0', 1), ('PAJ3974RK1', 1), ('WYU2010YH8', 1), ('ONL0812DH1', 1), ('BWI0520BG6', 1)], [('ONL0812DH1', 1), ('EDV2089LK5', 1), ('PUD8209OG3', 1), ('JJM4724RF7', 1), ('WTC9125IE5', 1), ('BWI0520BG6', 1), ('POP2875LH3', 1), ('DAZ3029XA0', 1), ('UES9151GS5', 1), ('EDV2089LK5', 1), ('SJD8775RZ4', 1), ('HCA3158QA6', 1), ('CKZ3132BR4', 1), ('KKP5277HZ7', 1), ('JJM4724RF7', 1), ('CYJ0225CH1', 1), ('CKZ3132BR4', 1), ('YMH6360YP0', 1), ('DAZ3029XA0', 1), ('UES9151GS5', 1), ('UES9151GS5', 1), ('EDV2089LK5', 1), ('WBE6935NU3', 1), ('HCA3158QA6', 1), ('LLZ3798PE3', 1), ('JBE2302VO4', 1), ('EZC9678QI6', 1), ('JJM4724RF7', 1), ('WTC9125IE5', 1), ('XFG5747ZT9', 1), ('IEG9308EA5', 1), ('PAJ3974RK1', 1), ('POP2875LH3', 1), ('LLZ3798PE3', 1), ('MXU9187YC7', 1), ('WBE6935NU3', 1), ('JBE2302VO4', 1), ('MXU9187YC7', 1), ('POP2875LH3', 1), ('LLZ3798PE3', 1), ('XFG5747ZT9', 1), ('SJD8775RZ4', 1), ('YMH6360YP0', 1), ('CXN7304ER2', 1), ('EZC9678QI6', 1), ('YMH6360YP0', 1), ('CKZ3132BR4', 1), ('CDC0302NN5', 1), ('PIT2755XC1', 1), ('PIT2755XC1', 1), ('BWI0520BG6', 1), ('PAJ3974RK1', 1), ('CKZ3132BR4', 1), ('HCA3158QA6', 1), ('SJD8775RZ4', 1), ('VZY2993ME1', 1), ('CXN7304ER2', 1), ('WYU2010YH8', 1), ('WTC9125IE5', 1), ('CKZ3132BR4', 1), ('VZY2993ME1', 1), ('WBE6935NU3', 1), ('POP2875LH3', 1), ('CYJ0225CH1', 1), ('SPR4484HA6', 1), ('JJM4724RF7', 1), ('BWI0520BG6', 1), ('CDC0302NN5', 1), ('WBE6935NU3', 1), ('EDV2089LK5', 1), ('HCA3158QA6', 1), ('CKZ3132BR4', 1), ('YMH6360YP0', 1), ('POP2875LH3', 1), ('WBE6935NU3', 1), ('WYU2010YH8', 1), ('HGO4350KK1', 1), ('WBE6935NU3', 1), ('WYU2010YH8', 1), ('SPR4484HA6', 1), ('KKP5277HZ7', 1), ('ONL0812DH1', 1), ('EZC9678QI6', 1), ('EZC9678QI6', 1), ('CDC0302NN5', 1), ('SPR4484HA6', 1), ('JJM4724RF7', 1), ('MXU9187YC7', 1), ('CXN7304ER2', 1), ('UES9151GS5', 1), ('LLZ3798PE3', 1), ('YMH6360YP0', 1), ('HCA3158QA6', 1), ('WBE6935NU3', 1), ('CKZ3132BR4', 1), ('VZY2993ME1', 1), ('LLZ3798PE3', 1)]]
Shuffle output: {'UES9151GS5': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'CYJ0225CH1': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'PAJ3974RK1': [1, 1, 1, 1, 1, 1, 1, 1], 'MXU9187YC7': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'BWI0520BG6': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'YMH6360YP0': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'EZC9678QI6': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'CXN7304ER2': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'IEG9308EA5': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'HCA3158QA6': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'KKP5277HZ7': [1, 1, 1, 1, 1, 1, 1], 'DAZ3029XA0': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'VZY2993ME1': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'SPR4484HA6': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'PUD8209OG3': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'POP2875LH3': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'HGO4350KK1': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'LLZ3798PE3': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'WBE6935NU3': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'CDC0302NN5': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'EDV2089LK5': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'ONL0812DH1': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'WTC9125IE5': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'JJM4724RF7': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'WYU2010YH8': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'JBE2302VO4': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'CKZ3132BR4': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'PIT2755XC1': [1, 1, 1, 1, 1, 1, 1], 'XFG5747ZT9': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'SJD8775RZ4': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'UMH6360YP0': [1]}
Reducer output: {'UES9151GS5': 17, 'CYJ0225CH1': 10, 'PAJ3974RK1': 8, 'MXU9187YC7': 12, 'BWI0520BG6': 14, 'YMH6360YP0': 14, 'EZC9678QI6': 17, 'CXN7304ER2': 14, 'IEG9308EA5': 10, 'HCA3158QA6': 17, 'KKP5277HZ7': 7, 'DAZ3029XA0': 17, 'VZY2993ME1': 11, 'SPR4484HA6': 17, 'PUD8209OG3': 15, 'POP2875LH3': 13, 'HGO4350KK1': 16, 'LLZ3798PE3': 13, 'WBE6935NU3': 15, 'CDC0302NN5': 10, 'EDV2089LK5': 11, 'ONL0812DH1': 11, 'WTC9125IE5': 11, 'JJM4724RF7': 15, 'WYU2010YH8': 14, 'JBE2302VO4': 12, 'CKZ3132BR4': 16, 'PIT2755XC1': 7, 'XFG5747ZT9': 11, 'SJD8775RZ4': 13, 'UMH6360YP0': 1}

In [11]:
# Find the passenger(s) with the highest number of flights
max_flights = max(reduced_data.values())
highest_flight_passengers = [k for k, v in reduced_data.items() if v == max_flights]

print("Passenger(s) with the highest number of flights:")
for passenger in highest_flight_passengers:
    print(f"Passenger ID: {passenger}, Number of flights: {max_flights}")

Passenger(s) with the highest number of flights:
Passenger ID: UES9151GS5, Number of flights: 17
Passenger ID: EZC9678QI6, Number of flights: 17
Passenger ID: HCA3158QA6, Number of flights: 17
Passenger ID: DAZ3029XA0, Number of flights: 17
Passenger ID: SPR4484HA6, Number of flights: 17